[mat-flat-button]{
    background-color: #3ec0b7;
    color: white;
    font-weight: 200;
}
div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 30px;
}
button{
    width: 230px;
}