<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements" >
    <!-- Id Column -->
    <ng-container matColumnDef="familyName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>familyName</th>
      <td mat-cell *matCellDef="let row">{{row.familyName}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row" >{{row.name}}</td>
    </ng-container>

    <ng-container matColumnDef="workingHours">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><mat-form-field><mat-label for="#">Month</mat-label>
        <mat-select  [(value)]="selectMonthValue" >
  <mat-option  value="december">december</mat-option>
  <mat-option value="january">november</mat-option>
  <mat-option value="february">february</mat-option>
  <mat-option value="march">march</mat-option>
  <mat-option value="april">april</mat-option>
  <mat-option value="may">may</mat-option>
  <mat-option value="june">june</mat-option>
  <mat-option value="july">july</mat-option>
  <mat-option value="august">august</mat-option>
  <mat-option value="september">september</mat-option>
  <mat-option value="october">october</mat-option>
  <mat-option value="november">november</mat-option>
       </mat-select>
      </mat-form-field> </th>
      <td mat-cell *matCellDef="let row">hours: {{row.workingHours[selectMonthValue]}}</td>
    </ng-container>

    <ng-container matColumnDef="totalHours" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Hours</th>
      <td mat-cell *matCellDef="let row" >{{row.totalHours}}</td>
    </ng-container>

    <ng-container matColumnDef="vacationDays" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Vacation Days</th>
      <td mat-cell *matCellDef="let row" >{{row.vacationDays}}</td>
    </ng-container>

    <ng-container matColumnDef="buttons" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Control</th>
      <td mat-cell *matCellDef="let row" ><button class="btn btn-danger" (click)="deletePerson(row)">DELETE</button><button class="btn btn-primary" (click)="editPerson(row)">EDIT</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[1,5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
